<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- css -->
    <link rel="stylesheet" href="/public/css/sidebar.css" />

    <!-- <link rel="stylesheet" href="/public/css/settings.css" /> -->

    <link rel="stylesheet" href="/public/css/changePass.css">

    

    <!-- Boxicons CSS -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <title>Settings</title>
  </head>
  <body>
    <!-- sidebar -->
    <nav class="sidebar close">
      <header>
        <div class="image-text">
          <span class="image">
            <img src="/public/images/logo-cookchat.png" alt="logo" />
          </span>

          <div class="text header-text">
            
            <span class="name">COOKCHAT</span>
          </div>
        </div>

        <i class="bx bx-chevron-right toggle"></i>
      </header>

      <div class="menu-bar">
        <div class="menu">
          <li class="search-box">
            <i class="bx bx-search icon"></i>
            <input type="text" placeholder="Search..." />
          </li>

          <ul class="menu-links">
            <li class="nav-link">
              <a href="#">
                <i class="bx bx-home-alt icon"></i>
                <span class="text nav-text">Home</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="#">
                <i class='bx bx-edit-alt icon'></i>
                <span class="text nav-text">Edit Profile</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="#">
               <i class='bx bx-edit icon'></i>
                <span class="text nav-text">Change Password</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="#">
                <i class='bx bxs-user-account icon' ></i>
                <span class="text nav-text">Deactivate account</span>
              </a>
            </li>

             <li class="nav-link">
              <a href="#">
                <i class='bx bx-shield-alt-2 icon'></i>
                <span class="text nav-text">Security</span>
              </a>
            </li>

             <li class="nav-link">
              <a href="#">
                <i class='bx bx-help-circle icon'></i>
                <span class="text nav-text">Support</span>
              </a>
            </li>


          

            <li class="nav-link">
              <a href="#" class="dropdown-toggle">
                <i class="icon"
                  ><img src="/public/images/profile.png" width="30px"
                /></i>
                <span class="text nav-text">Kanna Kamui</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="bottom-content">
          <li class="">
            <a href="#">
              <i class="bx bx-log-out icon"></i>
              <span class="text nav-text">Log out</span>
            </a>
          </li>

          <li class="mode">
            <div class="moon-sun">
              <i class="bx bx-moon icon moon"></i>
              <i class="bx bx-sun icon sun"></i>
            </div>

            <span class="mode-text text">Dark Mode</span>

            <div class="toggle-switch">
              <span class="switch"></span>
            </div>
          </li>
        </div>
      </div>
    </nav>

    <!-- nav bottom -->

    <header class="header" id="header">
      <nav class="nav container">
        <a href="#" class="nav__logo">COOKCHAT</a>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#home" class="nav__link active-link">
                <i class="bx bx-home-alt nav__icon"></i>
                <span class="nav__name">Home</span>
              </a>
            </li>

            <li class="nav__item">
              <a href="#search" class="nav__link">
                <i class="bx bx-search nav__icon"></i>
                <span class="nav__name">Search</span>
              </a>
            </li>

            <li class="nav__item">
              <a href="#create" class="nav__link">
                <i class="bx bx-plus-circle nav__icon"></i>
                <span class="nav__name">Create</span>
              </a>
            </li>

            <li class="nav__item">
              <a href="#recipes" class="nav__link">
                <i class="bx bx-bowl-hot nav__icon"></i>
                <span class="nav__name">Recipes</span>
              </a>
            </li>

            <li class="nav__item">
              <a href="#profile" class="nav__link">
                <img
                  src="/public/images/profile.png"
                  width="25px"
                  class="nav__icon"
                />
                <span class="nav__name">Profile</span>
              </a>
            </li>
          </ul>
        </div>

        <!-- <img src="/public/images/user-img.jpg" class="nav__img" width="40px"> -->
      </nav>
    </header>

    <div class="hero">
        
      <nav>
        <ul class="notification-drop">
    <li class="item">
      <i class="bx bxs-bell notification-bell" aria-hidden="true"></i> <span class="btn__badge pulse-button ">4</span>     
      
      <ul>
        <li>First Item</li>
        <li>Second Item</li>
        <li>Third Item</li>
      </ul>
    </li>
  </ul>

        <img
          src="/public/images/user-img.jpg"
          width="40px"
          alt="profile"
          class="user-pic"
          onclick="toggleMenus()"
        />

        <div class="sub-menus-wrap" id="subMenus">
          <div class="sub-menus">
            <div class="user-info">
              <img src="/public/images/profile.png" />
              <h3>Kanna Kamui</h3>
            </div>
            <hr />

            <a href="#" class="sub-menus-link">
              <i class="bx bx-cog"></i>
              <p>Settings</p>
            </a>

            <a href="#" class="sub-menus-link">
              <i class='bx bxs-dashboard' ></i>
              <p>Admin</p>
            </a>

            <a href="#" class="sub-menus-link">
              <i class="bx bx-help-circle"></i>
              <p>Help & Support</p>
            </a>

            <a href="#" class="sub-menus-link">
              <i class="bx bx-log-out"></i>
              <p>Log Out</p>
            </a>
          </div>
        </div>
      </nav>
    </div>


    <section class="home">
        <div class="text">
            Settings 
        </div>
        
        <div class="edit-profile">
           <div class="text">
                <h5>Change Password</h5>
           </div>
           
           <div class="form-profile">
                <form action="">
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="password">
                     </div>

                     <div class="form-group">
                        <label for="new-password">New Password:</label>
                        <input type="password" name="new-password" id="new-password">
                     </div>

                     <div class="form-group">
                        <label for="new-password">Confirm Password:</label>
                        <input type="password" name="confirm-password" id="confirm-password">
                     </div>
                    
                      <div class="btn">
                        <button type="submit" class="btn btn-submits">Save Change</button>
                      </div>
                  </form> 
        </div>


      </section>


    <!-- <main>
      

      <section class="container section section__height" id="home">
        <h2 class="section__title"></h2>
      </section>

      <section class="container section section__height" id="search">
        <h2 class="section__title"></h2>
      </section>

      <section class="container section section__height" id="create">
        <h2 class="section__title"></h2>
      </section>

      <section class="container section section__height" id="recipes">
        <h2 class="section__title"></h2>
      </section>

      <section class="container section section__height" id="profile">
        <h2 class="section__title"></h2>
      </section>
    </main> -->

    <script src="/public/javascript/changePass.js"></script>

    <script src="/public/javascript/sidebar.js"></script>
  </body>
</html>
