<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS -->
    <link rel="stylesheet" href="/public/css/landingPage.css" />

    <!-- AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="/public/css/fontawesome.min.css" />

    <title>Cookchat</title>
  </head>
  <body>
    <!-- HEADER -->

    <header>
      <div class="container flex-row">
        <div class="header__logo">
          <img src="/public/images/logo-cookchat.png" alt="cookchat logo" />
          <p>COOKCHAT</p>
        </div>

        <nav>
          <ul class="header__menu flex-row">
            <li>
              <a href="#home">Home</a>
            </li>

            <li>
              <a href="#about">About</a>
            </li>

            <li>
              <a href="#recipes">Recipes</a>
            </li>

            <li>
              <a href="#team">Team</a>
            </li>

            <li>
              <a href="#contact">Contact</a>
            </li>
          </ul>
        </nav>

        <div class="right flex-center">
          <a href="#contact" class="btn btn-secondary">Get a Quotes</a>

          <div class="menu-btn" aria-label="Menu">
            <i class="fa-solid fa-bars"></i>
          </div>
        </div>
      </div>
    </header>

    <!-- HEADER -->

    <!-- Home -->

    <section id="home" class="container flex-row">
      <div class="hero__content">
        <h1 class="title">
          Let share your recipes, tips, and delicious experiences!
        </h1>

        <p class="text">
          Join our community of food lovers and explore the world of cooking.
        </p>
        <a href="/views/signUp.html" class="btn btn-primary" aria-label="Get Started with CookChat">Get Started</a>
      </div>

      <div class="hero__image">
        <img src="/public/images/heroCook.png" alt="Person cooking" />
      </div>
    </section>

    <!-- Home -->

    <!-- ABOUT -->
    <section id="about" class="container flex-center flex-column">
      <h5 class="section-subheading">Find Favourite Recipes</h5>
      <h2 class="section-heading text-center">
        Dive into the world of culinary exploration
      </h2>
      <div class="features text-center">
        <div class="feature" style="--color: #fe6786">
          <div class="feature__icon">
            <i class="fas fa-utensils" aria-hidden="true"></i>
          </div>

          <h3 class="feature__title">Ratings Recipes</h3>
          <p class="feature__text">
            The website features a wide range of recipes spanning different
            cuisines, dietary preferences, and cooking skill levels. Users can
            explore recipes for everything from quick weeknight dinners to
            gourmet desserts, all curated and rated by a passionate community of
            home cooks and food enthusiasts.
          </p>
        </div>

        <div class="feature" style="--color: #5cd8a5">
          <div class="feature__icon">
            <i class="fa-solid fa-martini-glass-citrus"></i>
          </div>

          <h3 class="feature__title">Food & Culture</h3>
          <p class="feature__text">
            The website features a wide range of recipes spanning different
            cuisines, dietary preferences, and cooking skill levels. Users can
            explore recipes for everything from quick weeknight dinners to
            gourmet desserts, all curated and rated by a passionate community of
            home cooks and food enthusiasts.
          </p>
        </div>

        <div class="feature" style="--color: #fea95b">
          <div class="feature__icon">
            <i class="fa-solid fa-fish"></i>
          </div>

          <h3 class="feature__title">The ocean's bounty</h3>
          <p class="feature__text">
            The website features a wide range of recipes spanning different
            cuisines, dietary preferences, and cooking skill levels. Users can
            explore recipes for everything from quick weeknight dinners to
            gourmet desserts, all curated and rated by a passionate community of
            home cooks and food enthusiasts.
          </p>
        </div>
      </div>

      <div class="about__details flex-center">
        <div class="about__details-content">
          <h1>Most Innovative Creative Team</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A vitae
            velit dignissimos quidem odio illo, unde rerum corporis. Consequatur
            iste voluptates optio nam. Maiores dolorem sapiente dolore cumque
            neque blanditiis!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim natus
            error magni tempora veniam placeat, ad temporibus amet
            necessitatibus, vitae dolorem aperiam atque. Sint, quaerat nesciunt?
            Recusandae iste porro repudiandae!
          </p>
          <a href="/views/signUp.html" class="btn btn-primary">Get Started</a>
        </div>

        <div class="about__details-img">
          <img src="/public/images/cook.png" alt="about image" width="600px" />
        </div>
      </div>
    </section>

    <!-- ABOUT -->

    <!-- SERVICES -->
    <section id="services" style="background-color: #ffdadf">
      <div class="container">
        <h5 class="section-subheading">What We Do</h5>
        <h2 class="section-heading right" Services>
          Cooking services offer a convenient solution for busy individuals or
          families
        </h2>

        <div class="services">
          <div class="service">
            <div class="service__icon">
              <img src="/public/images/squares.png" alt="service icon" />
            </div>
            <h3 class="services__title">Cookchat Forum</h3>
            <p class="service__text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia
              aspernatur temporibus illum, ipsam ad, sunt eius consequuntur
              dolor deleniti consequatur est labore facere error natus itaque
              voluptate distinctio corporis eveniet.
            </p>
            <div class="arrow-icon">
              <a href="/views/signUp.html"
                ><i class="fa-solid fa-arrow-right"></i
              ></a>
            </div>
          </div>

          <div class="service">
            <div class="service__icon">
              <img src="/public/images/upload.png" alt="service icon" />
            </div>
            <h3 class="services__title">Post</h3>
            <p class="service__text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia
              aspernatur temporibus illum, ipsam ad, sunt eius consequuntur
              dolor deleniti consequatur est labore facere error natus itaque
              voluptate distinctio corporis eveniet.
            </p>
            <div class="arrow-icon">
              <a href="/views/signUp.html"
                ><i class="fa-solid fa-arrow-right"></i
              ></a>
            </div>
          </div>

          <div class="service">
            <div class="service__icon">
              <img
                src="/public/images/share.png"
                width="120px"
                alt="service icon"
              />
            </div>
            <h3 class="services__title">Share</h3>
            <p class="service__text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia
              aspernatur temporibus illum, ipsam ad, sunt eius consequuntur
              dolor deleniti consequatur est labore facere error natus itaque
              voluptate distinctio corporis eveniet.
            </p>
            <div class="arrow-icon">
              <a href="/views/signUp.html"
                ><i class="fa-solid fa-arrow-right"></i
              ></a>
            </div>
          </div>

          <div class="service">
            <div class="service__icon">
              <img
                src="/public/images/headphones.png"
                width="120px"
                alt="service icon"
              />
            </div>
            <h3 class="services__title">Support</h3>
            <p class="service__text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia
              aspernatur temporibus illum, ipsam ad, sunt eius consequuntur
              dolor deleniti consequatur est labore facere error natus itaque
              voluptate distinctio corporis eveniet.
            </p>
            <div class="arrow-icon">
              <a href="/views/signUp.html"
                ><i class="fa-solid fa-arrow-right"></i
              ></a>
            </div>
          </div>

          <div class="service">
            <div class="service__icon">
              <img
                src="/public/images/internet.png"
                width="120px"
                alt="service icon"
              />
            </div>
            <h3 class="services__title">Global</h3>
            <p class="service__text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia
              aspernatur temporibus illum, ipsam ad, sunt eius consequuntur
              dolor deleniti consequatur est labore facere error natus itaque
              voluptate distinctio corporis eveniet.
            </p>
            <div class="arrow-icon">
              <a href="/views/signUp.html"
                ><i class="fa-solid fa-arrow-right"></i
              ></a>
            </div>
          </div>

          <div class="service">
            <div class="service__icon">
              <img
                src="/public/images/video-360.png"
                width="120px"
                alt="service icon"
              />
            </div>
            <h3 class="services__title">Tutorial</h3>
            <p class="service__text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia
              aspernatur temporibus illum, ipsam ad, sunt eius consequuntur
              dolor deleniti consequatur est labore facere error natus itaque
              voluptate distinctio corporis eveniet.
            </p>
            <div class="arrow-icon">
              <a href="/views/signUp.html"
                ><i class="fa-solid fa-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- SERVICES -->

    <!-- PROJECTS -->
    <section id="recipes">
      <div class="container">
        <h5 class="section-subheading">Recipes</h5>
        <h2 class="section-heading">Explore our most popular recipes</h2>
        <div class="projects">
          <div class="project">
            <div class="project__img">
              <img
                src="/public/images/image.png"
                alt="food image"
                width="250px"
              />
            </div>
            <div class="project__content">
              <h3 class="project__category">Blueberries</h3>
              <h3 class="project__title">
                Lorem, ipsum dolor siditate facilis?
              </h3>
              <p class="project__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis
                voluptates, quae, quoue.
              </p>
              <a href="/views/signUp.html" class="btn btn-secondary"
                >View Recipe</a
              >
            </div>
          </div>

          <div class="project">
            <div class="project__img">
              <img
                src="/public/images/image.png"
                alt="food image"
                width="250px"
              />
            </div>
            <div class="project__content">
              <h3 class="project__category">Blueberries</h3>
              <h3 class="project__title">
                Lorem, ipsum dolor siditate facilis?
              </h3>
              <p class="project__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis
                voluptates, quae, quoue.
              </p>
              <a href="/views/signUp.html" class="btn btn-secondary"
                >View Recipe</a
              >
            </div>
          </div>

          <div class="project">
            <div class="project__img">
              <img
                src="/public/images/image.png"
                alt="food image"
                width="250px"
              />
            </div>
            <div class="project__content">
              <h3 class="project__category">Blueberries</h3>
              <h3 class="project__title">
                Lorem, ipsum dolor siditate facilis?
              </h3>
              <p class="project__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis
                voluptates, quae, quoue.
              </p>
              <a href="/views/signUp.html" class="btn btn-secondary"
                >View Recipe</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- PROJECTS -->

    <!-- TEAM -->

    <section id="team" class="container">
      <h5 class="section-subheading text-center">Meet Our Team</h5>

      <h2 class="section-heading text-center right left">
        Awesome Team With Great Skills
      </h2>

      <div class="members">
        <div class="member">
          <div class="member__img">
            <img
              src="/public/images/kanna.jpg"
              alt="team member"
              width="200px"
            />
          </div>
          <div class="member__content">
            <h1>Kanna Kamui</h1>
            <p>Frontend Coder</p>
          </div>
        </div>

        <div class="member">
          <div class="member__img">
            <img
              src="/public/images/khoi.jpg"
              alt="team member"
              width="200px"
            />
          </div>
          <div class="member__content">
            <h1>Khoi</h1>
            <p>Frontend Coder</p>
          </div>
        </div>

        <div class="member">
          <div class="member__img">
            <img
              src="/public/images/duong.jpg"
              alt="team member"
              width="200px"
            />
          </div>
          <div class="member__content">
            <h1>Duong</h1>
            <p>Backend Coder</p>
          </div>
        </div>

        <div class="member">
          <div class="member__img">
            <img
              src="/public/images/qanh.jpg"
              alt="team member"
              width="200px"
            />
          </div>
          <div class="member__content">
            <h1>Quang Anh</h1>
            <p>Backend Coder</p>
          </div>
        </div>
      </div>
    </section>

    <!-- TEAM -->


    <!-- CONTACT -->

    <section id="contact" style="background-color: #ffdadf">
      <div class="container">
        <h5 class="section-subheading text-center">Contact Us</h5>
        <h2 class="section-heading text-center left right">
          Stay contect with us for any reason
        </h2>
        <div class="contact">
          <form action="" class="contact__form">
            <h1>Write us a message</h1>
            <input type="text" placeholder="Your Name" required />
            <input type="email" placeholder="Your Email" required />
            <input type="text" placeholder="Subject" required />
            <textarea rows="5" placeholder="Your Message" required></textarea>
            <button type="submit" class="btn btn-primary">Send Message</button>
          </form>

          <div class="contact__details">
            <p class="text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae
              deleniti laudantium iusto, a perferendis culpa eligendi libero
              atque laborum quibusdam distinctio facere quas, provident et quae
              facilis placeat modi animi?
            </p>

            <div class="details">
              <div class="detail">
                <div class="detail__icon">
                  <i class="fa-solid fa-phone"></i>
                </div>

                <div class="detail__content">
                  <h3>Phone</h3>
                  <p>019349</p>
                </div>
              </div>

              <div class="detail">
                <div class="detail__icon">
                  <i class="fa-solid fa-envelope"></i>
                </div>

                <div class="detail__content">
                  <h3>Email</h3>
                  <p>bruh@gmail.com</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- CONTACT -->

    <!-- FOOTER -->

    <footer>
      <div class="container">
        <div class="footer__content">
          <div class="footer__details">
            <div class="footer__logo">
              <img
                src="/public/images/logo-cookchat.png"
                alt="cookchat logo"
                width="50px"
              />
              <p>COOKCHAT</p>
            </div>
            <p class="footer__text">Lorem ipsum dolor sit</p>
            <div class="footer__newletter">
              <form action="#" class="footer__newletter-form">
                <input type="email" placeholder="Submit Email" required />
                <div class="icon">
                  <i class="fa-solid fa-envelope"></i>
                </div>
              </form>
            </div>
          </div>

          <div class="footer__menu">
            <h3 class="footer__menu-title">Quick Links</h3>
            <ul class="footer__menu-list">
              <li>
                <a href="#home">Home</a>
              </li>

              <li>
                <a href="#recipes">Recipes</a>
              </li>

              <li>
                <a href="#about">About</a>
              </li>

              <li>
                <a href="#contact">Contact</a>
              </li>

              <li>
                <a href="#team">Team</a>
              </li>
            </ul>
          </div>

          <div class="footer__menu">
            <h3 class="footer__menu-title">Services</h3>
            <ul class="footer__menu-list">
              <li>
                <a href="#home">Home</a>
              </li>

              <li>
                <a href="#recipes">Recipes</a>
              </li>

              <li>
                <a href="#about">About</a>
              </li>

              <li>
                <a href="#contact">Contact</a>
              </li>

              <li>
                <a href="#team">Team</a>
              </li>
            </ul>
          </div>

          <div class="footer__menu">
            <h3 class="footer__menu-title">Social</h3>
            <ul class="footer__menu-list">
              <li>
                <a href="#home">Facebook</a>
              </li>

              <li>
                <a href="#recipes">Twitter</a>
              </li>

              <li>
                <a href="#about">Instagram</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer__bottom">
          <div class="footer__bottom-icons">
            <p>Folow Us</p>
            <a href="" class="facebbok">
              <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="" class="Instagram">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="" class="Twitter">
              <i class="fa-brands fa-twitter"></i>
            </a>
          </div>

          <p class="footer__bottom-text">
            &copy; 2024 Cookchat. All rights reserved.
          </p>
        </div>
      </div>
    </footer>

    <!-- FOOTER -->

    <!-- FONTAWESOME -->
    <script src="/public/javascript/fontawesome.min.js"></script>
    <!-- FONTAWESOME -->

    <!-- AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- AOS -->

    <!-- SCRIPTS -->
    <script src="/public/javascript/landingPage.js"></script>
    <!-- SCRIPTS -->

    <script>
      AOS.init();
    </script>
  </body>
</html>
