@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-05);
}

body.dark{
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #ddd;
    --text-color: #ddd;

}

.edit-profile{
    background-color: white;
    width: 80%;
    height: 90%;
    position: relative;
    top: 60%;
    left: 55%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
}

.edit-profile .text{
    display: relative;
    font-size: 25px;
    font-weight: 300;
    top: 0;
    
} 


.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    /* padding-top: 4rem;
    margin-left: 10rem;  */
}

.profile-name p{
    font-size: 1.8rem;
    font-weight: 600;
    color: #FE036A;
    letter-spacing: 2px;
    font-family: "Cherry Bomb One", cursive;

}

.btn-change{
    background: none;
    border: none;
    outline: none;
    font-size: 0.8rem;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
    cursor: pointer;

}

.btn-change:hover{
    color: #7803fe;
}

.profile .profile-img img {
  
    margin-right: 20px; /* Adds some space between the image and the text */
}

.form-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: -50rem;

}

.profile .profile-img img{
    width: 90px;
}

  label {
            display: inline-block;
            width: 120px;
            padding: 10px;
         }

         .form-group input, textarea, select {
            width: 100%;
            width: 300px;
            margin-bottom: 10px;
            padding: 15px;
            border-radius: 20px;
         }

         .btn-submits{
            margin-top: 15px;
            width: 100%;
            padding: 15px;
            border: none;
            outline: none;
            background-color: #FC72A6;
            border-radius: 3rem;
            font-family: "Cherry Bomb One", cursive;
            font-size: 1rem;
            letter-spacing: 2px;
            color: white;
         }

         label + input {
            background-color: rgb(248, 219, 244);
            
         }

         @media screen and (max-width: 600px){

    .sidebar.close ~ .home {
        left: 0;
        width: 100%;
    }

            
.profile-name p{
    font-size: 1.3rem;
    font-weight: 600;
    color: #FE036A;
    letter-spacing: 2px;
    font-family: "Cherry Bomb One", cursive;

}

            .home{
                width: 100%;
            }

            .form-group input, textarea, select {
            width: 100%;
           
            margin-bottom: 10px;
            padding: 15px;
            border-radius: 20px;
         }

         
.profile .profile-img img{
    width: 60px;
}

.btn-change{
   
    font-size: 0.7rem;
    letter-spacing: 0;

}

 .btn-submits{
          margin-bottom: 40%;
         }

        
         }

         
