

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh; 
    font-size: 1.2rem;
    background-image: linear-gradient(#FDFDFD,#FFEDFF,#FFDAF2,#F4D6FF,#FED9FF,#F7D7FF,#A7B5FF);
    width: 100%;
}

nav {
    padding: 20px 50px;
    /* margin: 10px; */
    position: fixed; 
    top: 0; 
    width: 100%; 

}

/* logo */
.navbar-logo{
    font-size: 2rem;
    font-family: 'Cherry Bomb One', sans-serif !important;
    color: #F03167 !important;
	padding: 2rem;
	
}



nav a:hover{
    color: #ff779e !important;
}

nav a:focus{
    color: #f5347f !important;
}

/* theme */
/* The switch - the box around the slider */
.switch {
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.4em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.3em;
    position: absolute;
    top: 50%;
    right: 15rem;
    transform: translateY(-50%);
    width: var(--width-of-switch);
    height: var(--height-of-switch);
}
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }


  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon,1.4em);
    width: var(--size-of-icon,1.4em);
    border-radius: 20px;
    left: var(--slider-offset,0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
    ;
   transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #303136;
  }
  
  input:checked + .slider:before {
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
  }



  /* sign in button */
  nav button {
    font-family: 'Cherry Bomb One', sans-serif !important;
    padding: 10px 20px;
    margin-right: 50px;
    border-style: solid;
    border: 2px solid #FEACC3;
    border-radius: 20px;
    color: #F03167;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 2px;
    background-color: #fff;
    cursor: pointer;
  }

  nav button:hover{
    background-color: #FEACC3;
    color: #fff;
  }

    nav button:focus{
        background-color: #F03167;
        color: #fff;
        border: none;
        outline: none;
    }

    form > p{
        font-size: 3rem;
        font-weight: bold;
        margin-top: -50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Cherry Bomb One', sans-serif;
        letter-spacing: 3px;
        color: 	#05081c;

    }


.container {
        display: flex;
        justify-content: center;
        align-items: center;
}

.signUpForm{
    position: relative;
    width: 600px; 
    gap: 20px;
    padding: 50px;
    top: -10px;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}


.form{
    position: relative;
    width: 500px; 
    gap: 20px;
    padding: 50px;
    border-radius: 1rem;
    
}


.form__input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid rgb(183, 183, 183);
    border-radius: 0.5rem;
    font-family: inherit;
    font-size: 1rem;
    color: black;
    outline: none;
    padding: 15px;
    background: none;
    transition: all 160ms ease-in;
}

.fa-solid{
    position: absolute;
    top: 1.3rem;
    right: 1rem;
    color: rgb(183, 183, 183);
    cursor: pointer;
}

.form__input:hover{
    border-color: #fdc6dc;
}

.form__input:focus{
    border-color: #feacc4;
}

.form__label{
    position: absolute;
    top: 0.8rem;
    left: 1rem;
    padding: 5px;
    color: rgb(183, 183, 183);
    background-color: rgb(255, 255, 255);
    cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
}

.form__input:focus ~ .form__label, .form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label{
    top: -1.2rem;
    font-size: 0.8rem;
    left: 0.8rem;
}


form button{
    padding: 15px;
    margin-bottom: 30px;
    width: 100%;
    border: none;
    border-radius: 3rem;
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
    color: black;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 200ms ease-in;
    font-family: "Cherry Bomb One", sans-serif;
}
/* input:invalid {
    border: 1px solid red;
 }
 
input:valid {
    border: 1px solid green;
 } */

.form-check{
    padding: 15px;
    transform: translate(0px, -25px);
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

}

.form-check div{
    padding: 10px;
    transform: translate(-45px, -25px);

}

.recaptcha {
    padding-bottom: 30px;
    transform: translate(0px, -10px);
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    
}

.recaptcha div:nth-child(2){
    padding: 10px;
    transform: translate(-30px, 10px);
}

.sign-in{
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 16px;
    letter-spacing: normal;
    font-weight: bold;
    cursor: pointer;
}

.sign-in a{
    color: #feacc4;
    text-decoration: none;
}

.signUpWith p{
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    letter-spacing: normal;
    font-weight: light;
    font-style: italic;
    line-height: 0.1rem;
    display: flex;
    flex-direction: row;

}

.signUpWith p::before, .signUpWith p::after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #000;
    margin: auto;
}

.signUpWith p::before{
    margin-right: 0.25em;
}

.signUpWith p::after{
    margin-left: 0.25em;
}

.social-media a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: 100%;
    border: 3px solid #feacc4;
    border-radius: 3rem;
}

/* .icon-display {
    position: absolute;
    top: 4rem;
    left: 0.5rem;
    color: #ff0000;
    display: inline;
    cursor: pointer;
}
*/
.icon-error {
    position: relative;
    top: 0.1rem;
    color: #ff0000;
    display: none;
    cursor: pointer;
}

.error {
    color: #ff0000;
    font-size: 0.8rem;
    font-family: "Poppins", sans-serif;
    color: #ff0000;
    position: absolute;
    top: 3.7rem;
}






